* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #132a13;
  width: 100%;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #ecf39e;
}

p {
  color: #ecf39e;
}

.container {
  width: 1300px;
  margin: auto;
  padding: 0 25px;
}

.welcome {
  background-image: url(./image/tropical-green-leaves-background.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.welcometext h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  color: #ecf39e;
  padding-left: 150px;
}

.welcome p {
  padding-left: 150px;
  font-size: 18px;
}

.btn {
  display: inline-block;
  background: #90a955;
  color: #132a13;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  margin-left: 150px;
  transition: background 0.5s;
}

.btn:hover {
  background-color: #4f772d;
}

.header {
  background: #132a13;
}

.about-us {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-1 {
  flex-basis: 50%;
  min-width: 300px;
  padding-left: 75px;
  text-align: justify;
}

.col-1 p {
  color: #132a13;
}
.col-1 h1 {
  color: #4f772d;
}
.col-2 {
  max-width: 100%;
  padding: 50px 0;
}

.about-us-bg {
  background-color: #ecf39e;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 180px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-3 img {
  width: 100%;
}

.col-3 p {
  color: #132a13;
  font-size: 14px;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #4f772d;
}

.title::after {
  content: "";
  background: #132a13;
  width: 80px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #4f772d;
}

.col-3:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.btn-2 {
  display: inline-block;
  background: #90a955;
  color: #132a13;
  padding: 8px 30px;
  margin: 20px 0;
  border-radius: 30px;
  transition: background 0.5s;
  align-items: center;
  margin-left: 43%;
}

.review {
  padding-top: 100px;
}

.review col-3 {
  text-align: center;
  padding: 40px 20px;
  text-align: center;
}

.col-3 p {
  font-size: 18px;
}

.col-3 h3 {
  color: #132a13;
}

.review-bg {
  background-color: #4f772d;
}

.footer-bg {
  background-color: #132a13;
}

.footer-col-1 h3 {
  margin: 25px 0;
  color: #ecf39e;
}

.footer-col-1 ul {
  list-style-type: none;
  color: #ecf39e;
  margin-bottom: 25px;
}

.footer-col-2 img {
  width: 200px;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* menu media quary*/

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #132a13;
    width: 100%;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .menu-icon {
    display: block;
  }
}
